<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Hola, Apps.</h1>
            <p>A search engine for the iTunes App Store</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{outlet}}
        </div>
    </div>
</div>


