<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Hola, Apps.</h1>
            <p>A search engine for the iTunes App Store. <a class="btn btn-primary pull-right" href="https://github.com/vicentereig/hola-apps" target="_blank">Fork it.</a></p>
            <div class="clearfix"></div>
            <hr/>
        </div>
    </div>

    {{outlet}}
</div>


