<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <img {{bind-attr src=Watchtower.magicSparkles}} alt="MAGIC."/>
            <div class="panel-footer">
                {{#link-to 'apps' class='btn btn-large btn-primary'}}Back to App Search{{/link-to}}
            </div>
        </div>
    </div>
</div>

