<div class="row">
    <div class="col-md-12">
        <h1>Hola, Apps.</h1>
        <p>A search engine for the iTunes App Store. <a class="btn btn-primary pull-right" href="https://github.com/vicentereig/hola-apps" target="_blank">Fork it.</a></p>
        <div class="clearfix"></div>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <input type="text" focus="true" ng-model="term" placeholder="Enter an iOS app name..." class="input-lg form-control"/>
            </div>
        </form>
    </div>
</div>

<div jem-view="index" loader="ng_application/templates/loading.html"></div>




